/* Reset de márgenes y tamaños */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Contenedor de fondo con imagen */
.background-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url('../img/background1.avif');
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the image fixed in place */
}


/* Contenedor del formulario */
.form-container {
    background-color: rgba(255, 255, 255, 0.95); /* Fondo semitransparente */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin-top: 20px; /* Espacio adicional para separar aún más el formulario de la parte superior */
    margin-bottom: 20px;
    margin-left: 20px; /* Añadimos un margen a la izquierda y derecha */
    margin-right: 20px; /* para que no choque con los bordes del teléfono */
}

/* Contenedor del logo */
.logo-container {
    text-align: center;
    margin-bottom: 15px;
}

.logo {
    max-width: 200px; /* Tamaño del logo */
}

/* Estilo del título */
h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

/* Separación entre elementos */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px; /* Mayor separación entre campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Separar la sección de Políticas de Privacidad y Término LHS */
input[type="checkbox"] {
    margin-bottom: 20px; /* Espacio adicional debajo del checkbox */
}

/* Mejora la separación de los campos con el label */
.form-container label {
    margin-top: 10px; /* Mayor espacio entre cada grupo de campo y label */
}

/* Estilo del botón de enviar */
button {
    background-color: #0a4772; /* Color azul solicitado */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 15px; /* Espacio adicional encima del botón */
}

button:hover {
    background-color: #083959;
}

/* Responsividad: Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        margin-left: 10px;  /* Aseguramos que haya margen a los lados en teléfonos */
        margin-right: 10px; /* para evitar que el formulario choque con los bordes */
    }

    .logo {
        max-width: 80px; /* Logo más pequeño en pantallas pequeñas */
    }
}
